body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.global-container{
  margin: 20px;
  padding: 50px;
  height: 100vh;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.weather-container{
  display: flex;
  justify-content: space-between;
  padding: 25px;
  margin: 25px 0 25px 0;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.945);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.124);
  flex-wrap: wrap;
}

.city {
  font-weight: 700;
  font-size: 27px;
  margin: 5px;
}

.weather {
  margin: 5px;
}

.weather-min-max {
  margin: 5px;
  font-size: 12px;
}

.temperature{
  margin: 0;
  font-size: 86px;
}

.parameter-value {
  margin-left: 5px;
}

.parameter-label{
font-weight: 700;
}

.details{
  font-size: 14px !important;
}

parameter-value, .parameter-label{
font-size: 12px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-gap: 2%;
}

.weather-container-little{
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.952);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.124);
  padding: 25px;
  margin-top: 5px;
}

.day{
  margin: 5px;
  font-weight: 700;
}

.day-little{
  font-size: 15px;
}

.weather-little{
  font-size: 12px;
}

.temperature-little{
  font-size: 70px;
  margin: 0;
}

@media (max-width: 500px) {
  .temperature{
    margin: 0;
    font-size: 50px; 
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Une colonne */
    grid-template-rows: repeat(7, 1fr); /* Sept lignes */
    gap: 10px; /* Espacement entre les éléments de la grille */
    height: 100%; /* Hauteur de la grille */
  }
  .weather-container{
    justify-content: center;
    text-align: center;
  }

}
